.s-btn__primary {
  color: hsl(0deg 0% 100%);
  background-color: hsl(206deg 100% 52%);
  box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);
}
.s-btn {
  position: relative;
  display: inline-block;
  padding: 0.57em;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}
.btn {
  margin-top: 10px;
  color: white;
  position: relative;
  padding: 5px 16px;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid;
  border-radius: 4px;
  -moz-appearance: none;
  appearance: none;
  box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 40%);
}
.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}
.btn-primary {
  background-color: #5b85ff;
  border-color: rgb(27 31 35 / 15%);
  /* box-shadow: 0 1px 0 rgba(27,31,35,0.1),inset 0 1px 0 hsla(0,0%,100%,0.03); */
}
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #8ca8f9;
  border-color: #678ffe30;
}
.btn {
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}
.btn:active {
  border-color: rgb(27 31 35 / 10%);
  transition: none;
}

.btn-primary.hover {
  background-color: #628bffde;
  border-color: rgb(27 31 35 / 15%);
}
.btn-primary:hover {
  background-color: #628bffde;
  border-color: rgb(27 31 35 / 15%);
}
[open] > .btn-primary {
  background-color: #628bffde;
  border-color: rgb(27 31 35 / 15%);
}

/* AWS GAMING */
.description__item-detail {
  line-height: 0.5rem;
}
.tw-align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
.tw-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.tw-align-items-start {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}
.tw-mg-r-05 {
  margin-right: 0.5rem !important;
}
.tw-svg {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.tw-svg__asset--alt {
  fill: var(--green-500) !important;
}
.tw-amazon-ember-bold {
  font-family: Amazon Ember Medium, Helvetica, Arial, sans-serif !important;
}
@media screen and (min-width: 1200px) {
  .tw-lg-font-size-5 {
    font-size: 14px !important;
    color: hsl(210, 8%, 35%);
    margin-bottom: 0em;
  }
}

/* MODAL */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  padding: 20px;
}

.modalContent {
  margin-bottom: 10px;
}

.closeButton {
  background-color: #ccc;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* github button */
.topic-tag {
  margin: 0 0.125em 0.333em 0;
}

.topic-tag {
  display: inline-block;
  padding: 0 7px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 2em;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 22px;
  color: #0969da;
  background-color: #ddf4ff;
  border: 1px solid rgb(0 0 0 / 0%);
}

.topic-tag:hover {
  color: #ffffff;
  background-color: #0969da;
}

/* ANIMATION ROTATION */
.marquee-text-content {
  width: 100000px;
}

.overflow-hidden::-webkit-scrollbar {
  background-color: transparent;
  height: calc(var(--su-static12) - var(--su-static2));
  width: calc(var(--su-static12) - var(--su-static2));
}

.overflow-hidden::-webkit-scrollbar-corner {
  background-color: transparent;
  border-color: transparent;
}

.overflow-hidden::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: calc(var(--su-static12) - var(--su-static2));
}

.overflow-hidden::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: calc(var(--su-static12) - var(--su-static2));
}

.marquee-text-text {
  animation-name: marquee-text-animation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  float: left;
}

@keyframes marquee-text-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.repo-language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid rgb(31 35 40 / 10%);
  border-radius: 50%;
  background-color: #0074cc;
}
.defeated {
  background-color: hsl(47 87% 94% / 1);
}
/* .topic-tag.d-flex.flex--item.gsx.repo-language-color:hover {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: #0074cc;
} */

.fs12 {
  font-size: 12px;
}

.bg-primary-050 {
  background-color: #ddf4ffab;
}
.bc-primary-500 {
  border-color: #0969da;
}
